.Weather ul{
margin: 0;
padding: 0;
}
.Weather li{
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}
.Weather img{
    height: 64px;
    float: left;
}
.Weather .temperature{
    font-weight: bold;
    font-size: 64px;

}
.Weather .unit{
    font-size: 16px;
    position: relative;
    font-weight: bold;
    top:-32px;
    line-height: 1;
    margin-left: 5px;
}